body {
    font-family: sans-serif;
    background-color: rgb(255, 243, 253);
}

input{
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    outline: none;
    margin:10px 5px;
}

#add_button{
    background-color: rgb(2, 173, 173);
    color: white;
}

button{
    border-radius: 8px;
    border: none;
    padding: 5px;
    outline: none;
    margin-right: 5px;
}

button:hover{
    background-color: rgb(255, 65, 65);
    border: none;
    cursor: pointer;
}

.input_area {
    background-color: rgb(84, 255, 255);
    width:70%;
    height: 50px;
    margin: 10px auto;
    border-radius: 5px;
}

.incomplete_area{
    background-color: rgb(168, 255, 223);
    width:70%;
    min-height: 50px;
    padding: auto;
    margin: 10px auto;
    border-radius: 5px;
}

.complete_area{
    background-color: rgb(255, 208, 150);
    width:70%;
    min-height: 50px;
    padding: auto;
    margin: 10px auto;
    border-radius: 5px;
}

.title{
    font-size: large;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.763);
}

li{
    margin-right: 5px;
}

.list_row{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}